@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.SignInUserViewModel

<div class="grid-row">
    <div class="column-half">
        <h1 class="heading-xlarge">Provider Apprenticeships Service</h1>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">

        <h2 class="heading-medium">Choose your user to impersonate</h2>
        <form method="POST" action="@Url.Content("~/home/SignInUser")">
            @for (var i = 0; i < Model.AvailableUsers.Count; i++)
            {
                <div class="form-group">

                    <label class="form-label">
                        <input type="radio" name="SelectedUserId" value="@Model.AvailableUsers[i].UserId" />
                        @Model.AvailableUsers[i].FirstName @Model.AvailableUsers[i].LastName [@Model.AvailableUsers[i].ProviderId]
                    </label>
                    <input type="hidden" name="AvailableUsers[@i].UserId" value="@Model.AvailableUsers[i].UserId" />
                    <input type="hidden" name="AvailableUsers[@i].FirstName" value=" @Model.AvailableUsers[i].FirstName " />
                    <input type="hidden" name="AvailableUsers[@i].LastName" value="@Model.AvailableUsers[i].LastName" />
                    <input type="hidden" name="AvailableUsers[@i].Email" value="@Model.AvailableUsers[i].Email" />
                    <input type="hidden" name="AvailableUsers[@i].ProviderId" value="@Model.AvailableUsers[i].ProviderId" />
                </div>
            }
            <button type="submit" class="button">Sign in</button>
        </form>
    </div>
</div>

