@using Microsoft.ApplicationInsights.Extensibility
@using SFA.DAS.ProviderCommitments.Extensions

<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Apprenticeships</title>
    <!--[if gt IE 8]><!-->
    <link href="~/dist/css/govuk-template.css" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/dist/css/govuk-template-ie6.css" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/dist/css/govuk-template-ie7.css" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/dist/css/govuk-template-ie8.css" media="screen" rel="stylesheet" /><![endif]-->
    <link href="~/dist/css/govuk-template-print.css" media="print" rel="stylesheet" />
    <!--[if IE 8]><link href="/dist/css/fonts-ie8.css" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!-->
    <link href="~/dist/css/fonts.css" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/dist/css/javascripts/ie.js"></script><![endif]-->
    <link rel="shortcut icon" href="/dist/images/favicon.ico" type="image/x-icon" />
    <link rel="mask-icon" href="/dist/images/gov.uk_logotype_crown.svg" color="#0b0c0c">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/dist/images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/dist/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/dist/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" href="/dist/images/apple-touch-icon-60x60.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/dist/images/opengraph-image.png">

    <link href="@Styles.Url("~/bundles/dropdown-select")" media="all" rel="stylesheet" />
    <!--[if IE 6]><link href="@Styles.Url("~/bundles/screenie6")" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="@Styles.Url("~/bundles/screenie7")" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="@Styles.Url("~/bundles/screenie8")" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if gt IE 8]><!-->
    <link href="@Styles.Url("~/bundles/screen")" media="all" rel="stylesheet" />
    <!--<![endif]-->
    <!-- Google Tag Manager -->
    <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window, document, 'script', 'dataLayer', 'GTM-PFR238K');
    </script>
    <!-- End Google Tag Manager -->
    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f; s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js"; u.getElementsByTagName(o)[0].parentNode.appendChild(s); try { t.cookie = u.cookie } catch (h) { } for (t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; i.length;) r("track" + i.pop()); return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"), config.disableExceptionTracking || (i = "onerror", r("_" + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t["_" + i](config, r, u, e, o), s }), t
        }({
            instrumentationKey: "@TelemetryConfiguration.Active.InstrumentationKey"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>

</head>
<body id="@ViewBag.PageId">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PFR238K"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <div id="skiplink-container">
        <div>
            <a href="#content" class="skiplink">Skip to main content</a>
        </div>
    </div>

    <div id="global-cookie-message">
        <p>
            GOV.UK uses cookies to make the site simpler. <a href="@Url.RouteUrl("privacy")"> Find out more about cookies</a>
        </p>
    </div>

    <header role="banner" id="global-header" class="">

        <div class="header-wrapper">
            <div class="header-global">

                <div class="header-global__title">
                    <a title="Education and Skills Funding Agency" href="/">
                        Apprenticeships
                    </a>
                </div>

            </div>
        </div>
    </header>

    <div id="global-header-bar"></div>
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        <div id="floating-menu-prov">
            <div id="floating-menu">
                <div class="js-float">
                    <p>Your training provider account</p>
                    <div class="user-menu logged-in">
                        <ul id="service-info-list" role="navigation">
                            <li><a href="/" class="link-user-profile">@HttpContext.Current.User.Identity.Name</a></li>
                            <li><a href="/notification-settings" class="link-user-profile">Notification settings</a></li>
                            <li><a href="@Url.RouteUrl("signout")">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="user-menu logged-out">
            <ul id="service-info-list" role="navigation">
                <li>
                    <a href="@Url.RouteUrl("signin")" aria-label="Sign in">Sign in</a>
                </li>
            </ul>
        </div>
    }

    <main role="main"  id="content">
        @if (HttpContext.Current.User.Identity.IsAuthenticated && !(ViewBag?.HideNavBar ?? false))
        {
            var controllerName = ViewContext.RouteData.Values["Controller"].ToString(); ;
            var providerId = int.Parse(User.Identity.GetClaim("http://schemas.portal.com/ukprn"));

            <div class="grid-row">
                <div class="column-full">
                    <div class="header-organisation" role="navigation">
                        <nav class="header-inner">
                            <ul role="menubar" id="global-nav-links">
                                <li><a href="@Url.Action("Index", "Account")" role="menuitem" class="@(controllerName == "Account" ? "selected" : "")">Home</a></li>
                                <li><a href="@Url.Action("Index", "ManageApprentices", new {providerId = providerId})" role="menuitem" class="@(controllerName == "ManageApprentices" ? "selected" : "")">Manage your apprentices</a></li>
                                <li><a href="@Url.Action("Cohorts", "Commitment", new {providerId = providerId})" role="menuitem" class="@(controllerName == "Commitment" ? "selected" : "")">Your cohorts</a></li>
                                <li><a href="@Url.Action("Agreements", "Agreement", new {providerId = providerId})" role="menuitem" class="@(controllerName == "Agreement" ? "selected" : "")">Agreement IDs</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        }
        @RenderSection("breadcrumb", required: false)
    
        @Html.Partial(@"_ModalMessage")
        @RenderBody()
      
    </main>

    <footer class="group js-footer" id="footer" role="contentinfo">
        <div class="footer-wrapper">
            <div class="footer-meta">
                <div class="footer-meta-inner">
                    <ul class="platform-help-links">
                        <li><a href="@Url.Action("Help", "Home")">Help</a></li>
                        <li><a href="https://www.surveymonkey.co.uk/r/accessmylevysurvey" target="_blank" aria-label="Give feedback">Feedback </a></li>
                        <li><a href="@Url.RouteUrl("privacy")">Privacy and cookies</a></li>
                        <li><a href="@Url.RouteUrl("terms")">Terms and conditions</a></li>
                        <li>Built by the <a href="http://gov.uk/sfa" target="_blank">Education and Skills Funding Agency</a></li>
                    </ul>
                    <div class="open-government-licence">
                        <p class="logo">
                            <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a>
                        </p>

                        <p>
                            All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </footer>
    <div id="global-app-error" class="app-error hidden"></div>

    @Scripts.Render("~/bundles/sfajs")

    @RenderSection("pageSpecificJS", required: false)
</body>
</html>