@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.ApprenticeshipFiltersViewModel

@RenderFilter("Status", "Status", Model.ApprenticeshipStatusOptions, Model.Status)
@RenderFilter("Alerts", "RecordStatus", Model.RecordStatusOptions, Model.RecordStatus)
@RenderFilter("Apprenticeship training course", "Course", Model.TrainingCourseOptions, Model.Course)
@RenderFilter("Organisation", "Employer", Model.EmployerOrganisationOptions, Model.Employer)
@RenderFilter("Funding Status", "FundingStatus", Model.FundingStatusOptions, Model.FundingStatus)

@helper RenderFilter(string groupHeader, string groupName, List<KeyValuePair<string, string>> options, List<string> selected)
{
    <div class="filter-option-select">
        <div class="container-head js-container-head">
            <div class="option-select-label">@groupHeader</div>
        </div>
        <div class="options-container">
            @foreach (var option in options)
            {
                var checkedAtt = selected != null && selected.Contains(option.Key) ? "checked=\"checked\"" : "";
                <div class="item">
                    <label for="@(groupName)-@option.Key">
                        <input name="@groupName" value="@option.Key" class="js-option-select" id="@(groupName)-@option.Key" type="checkbox" @checkedAtt aria-controls="js-search-results-info">
                        <span>@option.Value</span>
                    </label>
                </div>
            }
        </div>
    </div>
}