@using SFA.DAS.ProviderApprenticeshipsService.Web.Models
@model IPaginationViewModel

@functions
{
    public string GetLinkForPage(int pageNumber)
    {
        var queryStringValues = HttpUtility.ParseQueryString(Request.QueryString.ToString());

        queryStringValues.Set("pageNumber", pageNumber.ToString());
        queryStringValues.Set("resetFilter", "false");

        return $"{Request.Url.AbsolutePath}?{queryStringValues}";
    }

    public Tuple<int, int> GetPreviousLinkApprenticeshipCounts()
    {
        var lowerValue = (Model.PageNumber - 2) * Model.PageSize + 1;
        int upperValue = (Model.PageNumber - 1) * Model.PageSize;

        return new Tuple<int, int>(lowerValue, upperValue);
    }

    public Tuple<int, int> GetNextLinkApprenticeshipCounts()
    {
        var lowerValue = ((Model.PageNumber) * Model.PageSize) + 1;
        int upperValue;

        if (Model.PageNumber == Model.TotalPages - 1)
        {
            var remainder = Model.TotalResults % Model.PageSize;
            upperValue = remainder == 0 ? Model.TotalResults : (Model.PageSize * (Model.TotalPages - 1)) + remainder;
        }
        else
        {
            upperValue = (Model.PageNumber + 1) * Model.PageSize;
        }

        return new Tuple<int, int>(lowerValue, upperValue);
    }
}

@{
    var pagePreviousLinkValues = GetPreviousLinkApprenticeshipCounts();
    var pageNextLinkValues = GetNextLinkApprenticeshipCounts();
}

<nav role="navigation">
    <ul class="previous-next-navigation">
        @if (Model.PageNumber != 1)
        {
            <li class="previous">
                <a href="@GetLinkForPage(Model.PageNumber - 1)">
                    Previous <span class="visuallyhidden">page</span>
                    <span class="page-numbers">Apprentices @pagePreviousLinkValues.Item1 to @pagePreviousLinkValues.Item2</span>
                </a>
            </li>
        }

        @if (Model.TotalPages > 1 && Model.PageNumber < Model.TotalPages)
        {
            <li class="next">
                <a href="@GetLinkForPage(Model.PageNumber + 1)">
                    Next <span class="visuallyhidden">page</span>
                    <span class="page-numbers">Apprentices @pageNextLinkValues.Item1 to @pageNextLinkValues.Item2</span>
                </a>
            </li>
        }
    </ul>
</nav>

