@using SFA.DAS.Commitments.Support.SubSite.Extensions
@using SFA.DAS.Commitments.Support.SubSite.Models

@model ApprenticeshipViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid-row">

    <div class="column-full">

        <h1 class="heading-xlarge">
            @Model.Name
        </h1>

        <div>
            <table class="responsive twoColumn">
                <thead>
                    <tr>
                        <th colspan="2"> <h2 class="heading-medium">Status</h2></th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th class="tw-50">Agreement status</th>
                        <td>@Model.AgreementStatus</td>

                    </tr>
                    <tr>
                        <th>Payment status</th>
                        <td>@Model.PaymentStatus</td>

                    </tr>
                <tr>
                    <th>Confirmation Status</th>
                    <td>@Model.ConfirmationStatusDescription</td>
                </tr>

                    @if (Model.Alerts != null && Model.Alerts.Any())
                    {

                        <tr>
                            <th>Alerts</th>
                            <td><a href="#"> @Model.Alerts.First()</a></td>
                        </tr>

                        foreach (var alert in Model.Alerts.Skip(1))
                        {
                            <tr>
                                <td></td>
                                <td><a href="#">@alert</a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>


            <table class="responsive twoColumn">
                <thead>
                    <tr>
                        <th colspan="2"> <h2 class="heading-medium">Apprentice</h2></th>
                    </tr>

                </thead>
            </table>

            <table class="responsive twoColumn">
                <tbody>
                    <tr>
                        <th class="tw-50">Name</th>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>@Model.Email</td>
                    </tr>
                    <tr >
                        <th>Unique learner number</th>
                        <td>@Model.UlnText</td>
                    </tr>
                    <tr>
                        <th>Date of birth</th>
                        <td>@Model.DateOfBirth.ToGdsFormatWithSpaceSeperator()</td>
                    </tr>
                    <tr >
                        <th>Cohort reference</th>
                        <td>@Model.CohortReference</td>
                    </tr>

                    <tr >
                        <th>
                            Employer reference
                        </th>
                        <td>
                            @Model.EmployerReference
                       </td>
                </tr>

            </tbody>
        </table>


        <table class="responsive twoColumn">
            <thead>
                <tr>
                    <th colspan="2"> <h2 class="heading-medium">Training</h2></th>
                </tr>
            </thead>
        </table>

        <table class="responsive twoColumn">
            <tbody>
                <tr >
                    <th class="tw-50">Legal entity</th>
                    <td>@Model.LegalEntity</td>
                </tr>
                <tr >
                    <th>Training provider</th>
                    <td>@Model.TrainingProvider</td>
                </tr>
                <tr >
                    <th>UKPRN</th>
                    <td>@Model.UKPRN</td>
                </tr>

                <tr>
                    <th>Apprenticeship training course</th>
                    <td>@Model.Trainingcourse</td>
                </tr>
                <tr>
                    <th>Apprenticeship code</th>
                    <td>@Model.ApprenticeshipCode</td>
                </tr>


            </tbody>
        </table>


        <table class="responsive twoColumn">
            <thead>
                <tr>
                    <th colspan="2"> <h2 class="heading-medium">Dates</h2></th>
                </tr>
            </thead>
        </table>

        <table class="responsive twoColumn">
            <tbody>

                <tr>
                    <th class="tw-50">AS training start date</th>
                    <td>
                        @{
                            var startDate = Model.DasTrainingStartDate?.ToGdsFormatWithoutDay() ?? "";
                        }

                        @startDate
                    </td>
                </tr>
                <tr>
                    <th>AS training end date</th>
                    <td>
                        @{
                            var endDate = Model.DasTrainingEndDate?.ToGdsFormatWithoutDay() ?? "";
                        }

                        @endDate
                    </td>
                </tr>
            </tbody>
        </table>


        <table class="responsive twoColumn">
            <thead>
                <tr>
                    <th colspan="2"> <h2 class="heading-medium">Payment</h2></th>
                </tr>
            </thead>
        </table>

        <table class="responsive twoColumn">
            <tbody>
                <tr>
                    <th class="tw-50">Current training cost</th>
                    <td>@Model.TrainingCost.ToGdsCurrencyFormat()</td>
                </tr>

            </tbody>
        </table>

    </div>
</div>


</div>