@using SFA.DAS.Commitments.Support.SubSite.Models
@using SFA.DAS.Commitments.Support.SubSite.Enums
@model ApprenticeshipSearchQuery


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="search no-search-term">
    <div class="grid-row">
        <div class="column-full">

            @using (Html.BeginForm(
                // ReSharper disable Mvc.ActionNotResolved
                "Resource", "Apprenticeships",
                // ReSharper restore Mvc.ActionNotResolved
                FormMethod.Get,
                new Dictionary<string, object>
                {
                {"action", $"{Model.ResponseUrl}"},
                { "accept_charset", "utf-8"},
                { "@class" , "search-header search-header-2"},
                { "role" ,"search"},
                { "id" , "searchForm" }
                }))
            {

                <div class="searchfield form-group">
                    <fieldset class="search-input">
                        <h1 class="heading-large">Search</h1>
                        @Html.TextBoxFor(m => m.SearchTerm, string.Empty, new { id = "search-main", type = "search", @class = "form-control", placeholder = "Search", required = "required", maxlength = "100" })
                    </fieldset>

                    <fieldset class="search-submit">
                        <button type="button" id="searchButton" class="button">Search</button>
                    </fieldset>
                </div>

                <div class="form-group">
                    <fieldset class="inline">

                        <div class="multiple-choice">
                            @Html.RadioButtonFor(m => m.SearchType, ApprenticeshipSearchType.SearchByUln, new { id = "UnlSearchType", @checked = "" })
                            <label for="UnlSearchType">ULN</label>
                        </div>
                        <div class="multiple-choice">
                            @Html.RadioButtonFor(m => m.SearchType, ApprenticeshipSearchType.SearchByCohort, new { id = "CohortSearchType" })
                            <label for="CohortSearchType">Cohort Ref</label>
                        </div>

                    </fieldset>
                </div>
            }

        </div>
    </div>


    @if (Model.ReponseMessages != null && Model.ReponseMessages.Any())
    {

        <div class="grid-row">
            <div class="column-full">

                <p class="error-message font-medium">@Model.ReponseMessages.First()  </p>

            </div>
        </div>

    }


</section>


@section script{
    <script>

        (function ($) {
            "use strict";

            var SEARCH_FORM_SELECTOR = "#searchForm",
                SEARCH_TEXTBOX_SELECTOR = "#search-main",
                SEARCH_BUTTON_SELECTOR = "#searchButton",
                SEARCH_ULN_RADIO_SELECTOR = "#UnlSearchType",
                WATERMARK_ULN_NUMBER = "Enter ULN number",
                WATERMARK_COHORT_NUMBER = "Enter Cohort Reference number";

            var changePlaceholder = function () {
                var watermark = null;

                if ($(SEARCH_ULN_RADIO_SELECTOR).is(":checked")) {
                    watermark = WATERMARK_ULN_NUMBER;
                } else {
                    watermark = WATERMARK_COHORT_NUMBER;
                }

                $(SEARCH_TEXTBOX_SELECTOR).attr("placeholder", watermark);
            };

            $(document).ready(function () {
                changePlaceholder();

                $(":radio", SEARCH_FORM_SELECTOR).change(changePlaceholder);

                $(SEARCH_BUTTON_SELECTOR).click(function () {
                    if ($(SEARCH_TEXTBOX_SELECTOR).val().trim().length >= 2) {
                        $(SEARCH_FORM_SELECTOR).submit();
                    } else {
                        $(SEARCH_TEXTBOX_SELECTOR).val("");
                    }
                });
            });
        }(jQuery));

    </script>

}

