@using SFA.DAS.Commitments.Support.SubSite.Models
@using SFA.DAS.Commitments.Support.SubSite.Extensions
@using System.Collections.Generic;
@using System.Linq;

@model CommitmentDetailViewModel
@{
    ViewBag.Title = "CommitmentDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge" id="commitmentsHeader">Cohort Details</h1>
    </div>
</div>

@if (Model.CommitmentSummary != null)
{
    <div class="grid-row">
        <div class="column-two-thirds">
            <table class="responsive">
                <tbody>
                    <tr>
                        <td>Cohort reference:</td>
                        <td>@Model.CommitmentSummary.CohortReference</td>
                    </tr>
                    <tr>
                        <td>Employers account name:</td>
                        <td>@Model.CommitmentSummary.EmployerName</td>
                    </tr>
                    <tr>
                        <td>Provider name:</td>
                        <td>@Model.CommitmentSummary.ProviderName</td>
                    </tr>
                    <tr>
                        <td>UKPRN:</td>
                        <td>@Model.CommitmentSummary.ProviderUkprn</td>
                    </tr>
                    <tr>
                        <td>Cohort status:</td>
                        <td>@Model.CommitmentSummary.CohortStatusText</td>
                    </tr>
                    <tr>
                        <td>Number of apprentices:</td>
                        <td>
                            @{
                                var count = Model.CommitmentApprenticeships?.Count() ?? 0;
                            }
                            @count
                        </td>
                    </tr>

                </tbody>
            </table>

            <br /> <br />
        </div>
    </div>
}

@if (Model.CommitmentApprenticeships != null && Model.CommitmentApprenticeships.Any())
{
    <div class="grid-row">

        <div class="column-full">
            <hr>
            <table class="responsive">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>ULN</th>
                        <th>Date Of Birth</th>
                        <th>Training dates</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var apprenticeship in Model.CommitmentApprenticeships)
                    {
                        <tr>
                            <td data-label="Name">@apprenticeship.ApprenticeName</td>
                            <td data-label="ULN">@apprenticeship.UlnText</td>
                            <td data-label="Date Of Birth">@apprenticeship.DateOfBirth.ToGdsFormatWithSpaceSeperator()</td>
                            <td data-label="Training dates">@apprenticeship.TrainingDates</td>
                            <td data-label="Status">@apprenticeship.PaymentStatus</td>
                            <td> <a href="\resource?key=CommitmentApprenticeDetail&Id=@apprenticeship.HashedAccountId&childid=@apprenticeship.ApprenticeshipHashId"> View</a>  </td>
                        </tr>

                    }
                </tbody>
            </table>



        </div>

    </div>


}



