@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.CommitmentViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">View commitment</h1>
        <hr />
        <div class="form-group">
            <label class="form-label" for="Name">Name</label>
            <label class="form-label" id="Name">@Model.Commitment.Name</label>
        </div>
        <div class="form-group">
            <label class="form-label" for="LegalEntity">Legal Entity</label>
            <label class="form-label" id="LegalEntity">@Model.Commitment.LegalEntityName</label>
        </div>
    </div>
</div>
<div class="grid-row">
    <div class="column-full">
        <h2 class="heading-medium">Apprenticeships</h2>
        @if (Model.Commitment.Apprenticeships.Count == 0)
        {
            <p class="panel panel-info">
                No apprenticeships exist for this commitment.
            </p>
        }
        else
        {
        <div class="responsive-table">
            <div class="responsive-thead">
                <div class="responsive-tr">
                    <div class="responsive-th">Apprentice</div>
                    <div class="responsive-th">Training</div>
                    <div class="responsive-th">Status</div>
                    <div class="responsive-th"> </div>
                </div>
            </div>
            <div class="responsive-tbody">
                @foreach (var apprenticeship in Model.Commitment.Apprenticeships)
                {
                    <div class="responsive-tr">
                        <div class="responsive-td">
                            <div class="responsive-inner-caption">ApprenticeshipName</div>
                            <div>@apprenticeship.ApprenticeshipName</div>
                        </div>
                        <div class="responsive-td">
                            <div class="responsive-inner-caption">Training</div>
                            <div>@apprenticeship.TrainingId</div>
                        </div>
                        <div class="responsive-td">
                            <div class="responsive-inner-caption">Status</div>
                            <div>@apprenticeship.Status</div>
                        </div>
                        <div class="responsive-td">
                            <div>
                                <form action="@Url.Action("Edit")" method="GET">
                                    <input type="hidden" name="providerId" value="@Model.Commitment.ProviderId"/>
                                    <input type="hidden" name="commitmentId" value="@Model.Commitment.Id"/>
                                    <input type="hidden" name="apprenticeshipId" value="@apprenticeship.Id"/>
                                    <button type="submit" name="commitment" class="button">View</button>
                                </form>
                            </div>
                            <div class="responsive-inner-caption"></div>
                        </div>
                    </div>
                }
            </div>
        </div>
        }
    </div>
</div>
<form action="@Url.Action("Create")" method="GET">
    <input type="hidden" name="providerId" value="@Model.Commitment.ProviderId" />
    <input type="hidden" name="commitmentId" value="@Model.Commitment.Id" />
    <button type="submit" name="commitment" class="button">Create apprenticeship</button>
</form>
