@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.CommitmentListViewModel

<div class="grid-row">
    <div class="column-two-thirds">

        <h2 class="heading-medium">Tasks</h2>
        @if (Model.NumberOfTasks == 1)
            {
            <p>You have <span class="bold-small">1</span> task to complete.</p>
        }
        else
        {
            <p>You have <span class="bold-small">@(Model.NumberOfTasks > 1 ? Model.NumberOfTasks.ToString() : "no")</span> tasks to complete.</p>
            <a href="@Url.Action("Index", "Tasks", new {providerId = Model.ProviderId})" class="link">View tasks</a>
        }
        <hr />
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Commitments</h1>
        <hr/>
    </div>
</div>
<div class="grid-row">
    <div class="column-full">
        @if (Model.Commitments.Count == 0)
        {
            <p class="panel panel-info">
                No commitments exist for this account.
            </p>
        }
        else
        {
            <div class="responsive-table">
                <div class="responsive-thead">
                    <div class="responsive-tr">
                        <div class="responsive-th">Employer</div>
                        <div class="responsive-th">Name</div>
                        <div class="responsive-th"> </div>
                    </div>
                </div>
                <div class="responsive-tbody">
                    @foreach (var commitment in Model.Commitments)
                    {
                        <div class="responsive-tr">
                            <div class="responsive-td">
                                <div>@commitment.LegalEntityName</div>
                                <div class="responsive-inner-caption"></div>
                            </div>
                            <div class="responsive-td">
                                <div class="responsive-inner-caption">Role</div>
                                <div>@commitment.Name</div>
                            </div>
                            <div class="responsive-td">
                                <div>
                                    <form action="@Url.Action("Details")" method="GET">
                                        <input type="hidden" name="providerId" value="@commitment.ProviderId"/>
                                        <input type="hidden" name="commitmentId" value="@commitment.Id"/>
                                        <button type="submit" name="commitment" class="button">View</button>
                                    </form>
                                    <form action="@Url.Action("Submit")" method="GET">
                                        <input type="hidden" name="providerId" value="@commitment.ProviderId" />
                                        <input type="hidden" name="commitmentId" value="@commitment.Id" />
                                        <button type="submit" name="commitment" class="button">Submit</button>
                                    </form>
                                </div>
                                <div class="responsive-inner-caption"></div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
